---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

/* VARIABLE OVERRIDES */

$global-font-family : "Thasadith";
$header-font-family : "Thasadith";


/* NORMAL IMPORTS */

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* STYLE OVERRIDES */

a {
  text-decoration: none;
  font-family: "Thasadith";
}

.masthead, .greedy-nav {
	background-color: $footer-background-color;
}

figcaption {
  font-family: "Thasadith";
}

.initial-content {
  padding-bottom: 50px;
}

#footer {
  display: none;
}